*.log
*.pot
*.pyc
local_settings.py

settings.py

mixswap-env/
mixswap/settings/
.sass-cache/
/node_modules/
/media/
/config/
migrations/

!mixswap/settings/defaults.py
!mixswap/settings/__init__.pydows