<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>MixSwap</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css">

        <script src="{{ STATIC_URL }}js/plugins.min.js"></script>
        <script src="{{ STATIC_URL }}js/main.min.js"></script>
        <!-- <script src="js/vendor/modernizr-2.6.1.min.js"></script>-->
    </head>
    <body class="{%block page_class %}{% endblock %}">
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->

        <div class="main-wrapper">
            {%block content %}{% endblock %}
        </div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{ STATIC_URL }}js/jquery-2.0.2.min.js"><\/script>')</script>
        <script src="http://ajax.cdnjs.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
        <script>window.jQuery || document.write('<script src="{{ STATIC_URL }}js/underscore-1.4.4.min.js"><\/script>')</script>
        <script src="http://ajax.cdnjs.com/ajax/libs/backbone.js/1.0.0/backbone-min.js"></script>
        <script>window.jQuery || document.write('<script src="{{ STATIC_URL }}js/backbone-1.0.0.min.js"><\/script>')</script>

        <!-- The Load Image plugin is included for the preview images and image resizing functionality -->
        <script src="{{ STATIC_URL }}js/fileupload/jquery.ui.widget.js"></script>
        <!-- The Load Image plugin is included for the preview images and image resizing functionality -->
        <script src="{{ STATIC_URL }}js/fileupload/load-image.min.js"></script>
        <!-- The Canvas to Blob plugin is included for image resizing functionality -->
        <script src="{{ STATIC_URL }}js/fileupload/canvas-to-blob.min.js"></script>
        <!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
        <script src="{{ STATIC_URL }}js/fileupload/jquery.iframe-transport.js"></script>
        <!-- The basic File Upload plugin -->
        <script src="{{ STATIC_URL }}js/fileupload/jquery.fileupload.js"></script>
        <!-- The File Upload processing plugin -->
        <script src="{{ STATIC_URL }}js/fileupload/jquery.fileupload-process.js"></script>
        <!-- The File Upload image preview & resize plugin -->
        <script src="{{ STATIC_URL }}js/fileupload/jquery.fileupload-image.js"></script>
        <!-- The File Upload audio preview plugin -->
        <script src="{{ STATIC_URL }}js/fileupload/jquery.fileupload-audio.js"></script>
        <!-- The File Upload video preview plugin -->
        <script src="{{ STATIC_URL }}js/fileupload/jquery.fileupload-video.js"></script>
        <!-- The File Upload validation plugin -->
        <script src="{{ STATIC_URL }}js/fileupload/jquery.fileupload-validate.js"></script>
        
        <script>

            $(document).ready(function() {

                Main.init();
            });
        </script>
        <!--<script src="js/plugins.js"></script>-->
        

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
    </body>
</html>