html, body {
  height: 100%;
  margin:0;
  padding: 0;
}
body {
	font-family:'Droid Sans', sans-serif;
	background: #848484 fixed;
	background-size:100% 100%;
	-webkit-background-size: 100% 100%;
	-moz-background-size:100% 100%;
}

.clear {
	clear:both;
}

h1 {
	margin:0;
}

a img {
	border:0;
}