.login-page {

	.form-wrapper {
		width:300px;
		background:rgba(255,255,255,0.75);
		padding:40px;
		margin: 0 auto;

	}

	p {
		margin:5px;
	}

	.login-table {

		input {
			width:100%;
		}
	}

}

.fourohfour-page {
	.form-wrapper {
		width:300px;
		background:rgba(255,255,255,0.75);
		padding:40px;
		margin: 0 auto;

	}
}