.song-list {
	
	padding:0;
	list-style-type:none;

	&:after {
		content: "."; 
		visibility: hidden; 
		display: block; 
		height: 0; 
		clear: both;
	}

	a {
		text-decoration: none;
		color:#060;
	}

	.song-item {
		clear:both;
	}

	.song-order {
		width:25px;
		display:block;
		float:left;
	}
	.song-wrapper {
		float:left;    
		width: 350px;    
		margin-bottom: 10px;
	}
	.song-title {
		font-size: 22px;
	}
	.song-artist {
		font-size: 12px;
		font-weight: bold;
	}
}



.add-song-block {
	display:none;
	background-color:rgba(255,255,255,0.5);
	border-top:thin solid;
	padding:5px;
	border-bottom-right-radius: 10px;

	h1 {
		line-height:25px;
		color:#060;
		margin-bottom: 0;
	}

	h2 {
		padding-top: 10px;
		font-weight:normal;
		display:inline;
		font-size:14px;
	}
	a {
		color:#060;
	}

	/** song uploader overrise **/
	.plupload_container {
		padding:0;
	}
	.plupload_header {
		display:none;
	}
	.plupload_file_size {
		display:none;
	}
}
 


/** Mix admin **/

.unpublished {

	.favourite,
	.fav-count {
		display:none;
	}

	.comments {
		display:none;
	}

	.add-song-block,
	.publish-mix-block {
		display:block;
	}

}




/** x-editable overrides **/

input {
	font: inherit;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	box-sizing: border-box;

	color:inherit;
}

header .editable-container.editable-inline {
	display:block;

	.editable-input {
		display:block;
		font-size:34px;
		font-weight:bold;
		color:#666;

		input {
			margin: 22px 0;
			width:100%;
			padding:5px;
		}
	}
}