.main-wrapper {

	background: no-repeat center top fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#bgDropper {
	display:none;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:0;
}

#contentWrapper {
	width: 420px;
	margin:0 auto;
	font-family: helvetica, arial, sans-serif;
	position:relative;
	z-index:10;
}

.song-list {

	background-color: rgba(255, 255, 255, 0.75);
	padding:0;
	list-style-type:none;

	&:after {
		content: "."; 
		visibility: hidden; 
		display: block; 
		height: 0; 
		clear: both;
	}

	a {
		text-decoration: none;
		color:#060;
	}

	.song-item {
		clear:both;
		position:relative;
	}

	.song-order {
		width:25px;
		display:block;
		float:left;
	}
	.song-wrapper {
		float:left;    
		width: 350px;    
		margin-bottom: 10px;
	}
	.song-title {
		font-size: 22px;
	}
	.song-artist {
		font-size: 12px;
		font-weight: bold;
	}

	.favourite-checkbox {
		position:absolute;
		left: -24px;
		top:0;
	}
	.total-favourite {
		font-size:10px;
		color:#999;
		position:absolute;
		right:0;
		width:40px;
	}
}

.song-delete,
.publish-mix-block {
	display:none;
}

.comments-block {
	padding-top:10px;

	h1{
		background-color: rgba(255, 255, 255, 0.85);
		display:inline;
		padding:0 5px;
		color: #666666;
		font-size:16px;
		
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
	}

	.add-comment-block {
		background-color: rgba(255, 255, 255, 0.75);
	}

	.comments-list {
		background-color: rgba(255, 255, 255, 0.75);
		border-bottom-right-radius: 10px;
	}

	.comment-item {
		padding:5px;
		.username {
			font-weight:bold;
		}
		.time {
			font-size:10px;
		}
		.text {
		}
	}
	
}


.add-song-block {
	display:none;
	background-color:rgba(255,255,255,0.5);
	border-top:thin solid;
	padding:5px;
	border-bottom-right-radius: 10px;

	h1 {
		line-height:25px;
		color:#060;
		margin-bottom: 0;
	}

	h2 {
		padding-top: 10px;
		font-weight:normal;
		display:inline;
		font-size:14px;
	}

	/** uploader overrides **/
	.plupload_container {
		padding:0;
	}
	.plupload_header,
	.plupload_file_size {
		display:none;
	}
}

.change-bg-block {

	background-color: rgba(255, 255, 255, 0.5);
    bottom: 0;
    left: 0;
    position: fixed ;
	padding:5px;
	display:none;

	/** uploader overrides **/
	.plupload_scroll .plupload_filelist {
		height:auto;
	}
	li.plupload_droptext {
		line-height: 30px;
	}
	.plupload_container {
		padding:0;
	}
	.plupload_scroll .plupload_filelist {
		overflow:auto;
	}

	.plupload_filelist_header,
	.plupload_header,
	.plupload_file_size {
		display:none;
	}
}


/** Mix admin **/

.admin {
	.publish-mix-block {
		display:block;
	}

	

	.publish-mix-link {
		display:none;
	}
}

.unpublished {

	.unpublish-mix-link,
	.favourite,
	.fav-count {
		display:none;
	}

	.comments-block {
		display:none;
	}

	.song-delete,
	.publish-mix-link {
		display: inline;
	}

	#bgDropper,
	.change-bg-block ,
	.add-song-block,
	.publish-mix-block {
		display:block;
	}

}




/** x-editable overrides **/

input {
	font: inherit;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	box-sizing: border-box;

	color:inherit;
}

header .editable-container.editable-inline {
	display:block;

	.editable-input {
		display:block;
		font-size:34px;
		font-weight:bold;
		color:#666;

		input {
			margin: 22px 0;
			width:100%;
			padding:5px;
		}
	}
}