{% extends 'base.html' %}
{% block page_class %}mix-page{% endblock %}


{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

{% block content %}
<div id="bgDropper"></div>

<div id="back">
	<a href="{% url 'home' %}"><span style="font-size:50px;">&laquo;</span> <span style="line-height: 38px;margin-top: 5px;text-transform: uppercase;vertical-align: top;">home</span></a>
</div>

<div id="contentWrapper">
    <div id="mix">

        <header>
            <h1 id="mixTitle" class="mix-title"></h1>
            <span id="mixUsername"></span>
            <span id="mixDownload"><a class="mix-download-link" href="{{ 'download' }}">download</a></span>
        </header>
        
        <nav>
        </nav>
        
        <section id="audioPlayer">
            <div id="jquery_jplayer_1" class="jp-jplayer"></div>
            <div id="jp_container_1" class="jp-audio">
            <div class="jp-type-single">
              <div class="jp-gui jp-interface">
                <ul class="jp-controls">
                  <li><a href="javascript:;" class="jp-play" tabindex="1">play</a></li>
                  <li><a href="javascript:;" class="jp-pause" tabindex="1">pause</a></li>
                  <li><a href="javascript:;" class="jp-stop" tabindex="1">stop</a></li>
                  <li><a href="javascript:;" class="jp-mute" tabindex="1" title="mute">mute</a></li>
                  <li><a href="javascript:;" class="jp-unmute" tabindex="1" title="unmute">unmute</a></li>
                  <li><a href="javascript:;" class="jp-volume-max" tabindex="1" title="max volume">max volume</a></li>
                </ul>
                <div class="jp-progress">
                  <div class="jp-seek-bar">
                    <div class="jp-play-bar"></div>
                  </div>
                </div>
                <div class="jp-volume-bar">
                  <div class="jp-volume-bar-value"></div>
                </div>
                <div class="jp-time-holder">
                  <div class="jp-current-time"></div>
                </div>
              </div>
              <div class="jp-title"></div>
              <div class="jp-no-solution">
                <span>Update Required</span>
                To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
              </div>
            </div>
            </div>
        </section>
        
        <section id="mixList" class="mix-list">
            <ul id="songList" class="song-list"></ul>
        </section>
        
        <section id="addSongBlock" class="add-song-block">
        	<h1>Add songs</h1>
            <form id="uploadSongForm" action="{% url 'mixes:upload_song' mix.pk %}" enctype="multipart/form-data" method="POST">
                <div id="songUploader">There's a problem, this isn't going to work.</div>
            </form>
        </section>
    </div>
    
    
    <section id="publishMixBlock" class="publish-mix-block">
        <a href="javascript:;" id="publishMixLink" class="publish-mix-link">Publish</a>
        <a href="javascript:;" id="unpublishMixLink" class="unpublish-mix-link">Unpublish</a>
    </section>
    
    <section id="comments" class="comments">
    	<h1>Comment</h1>
        <div id="divAddComment">
        	<textarea id="txtAddComment" rows="3" cols="40"></textarea>
            <button id="btnAddComment">Add</button>
        </div>
        <div id="divCommentsList"></div>
    </section>
    
</div>

<section class="change-bg-block">
    <h1>Change background picture</h1>
    <a id="removeBG" href="javascript:;">remove</a>
    <form id="uploadPictureForm" action="{% url 'mixes:upload_picture' mix.pk %}" enctype="multipart/form-data" method="POST">
        <div id="picUploader">There's a problem, this isn't going to work.</div>
    </form>
</section>

<footer>
</footer>

<section id="templates" style="display:none;">
	
    <li id="tmpSongItem" class="song-item">        
        <div class="favouriteWrapper"><input id="chkFavourite" name="chkFavourite" class="favourite" title="Favourite Track" type="checkbox" /></div>
        <span class="song-order"></span>
        <div class="song-wrapper"><span class="song-title"></span><br><span class="song-artist"></span></div>
        <span class="fav-count"></span>
        <a class="song-delete" href="javascript:;">x</a>
    </li>
    
    <article id="refCommentItem" class="commentItem">
    	<span class="commentUserName"></span> <time class="commentTime" datetime=""></time><br>
        <span class="commentText"></span>
    </article>
    
   <iframe id="iUpload" name="iUpload" src="#" style="display:none;visibility:hidden;width:0;height:0;"></iframe> 

</section>
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function() {

        App.init({
            id: {{ mix.id }}, 
            title: '{{ mix.title }}',
            username: '{{ user.first_name }}',
            isUserMix: {% if is_user_mix %}true{% else %}false{% endif %}, 
            isPublished: {% if mix.is_published %}true{% else %}false{% endif %}, 
            pictureFile: '{% if mix.picture_file %}{{ mix.picture_file.url }}{% else %}{% endif %}',
            songs: [
                {% for mix_song in mix_songs.all %}
                    {% if not forloop.first %}, {% endif %}
                    { id: {{ mix_song.song.id }}, mixId: {{ mix_song.mix.id }}, artist: "{{ mix_song.song.artist }}", title: "{{ mix_song.song.title }}", songOrder: {{ mix_song.song_order }}, songFile: "{{ mix_song.song.song_file.url }}", isUserFav: {% if user in mix_song.favourites %}true{% else %}false{% endif %}, totalFav: {{ mix_song.favourites.all|length }} }
                {% endfor %}
            ]
        });
    });

    

    {% for comment in mix.comment_set.all %}
       // mix.addComment("{{ comment.user.first_name }}", "{{ comment.date }}", "{{ comment.text|linebreaks }}");
    {% endfor %}


</script>

{% endblock %}