{% extends 'base.html' %}
{% block page_class %}mix-page{% endblock %}


{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

{% block content %}
<div id="bgDropper"></div>

<div id="contentWrapper">
    <div id="mix">

        <header>
            <h1 id="mixTitle" class="mix-title"></h1>
            <span id="mixUsername" class="mix-user"></span>
            <a id="downloadMixLink" class="download-mix-link" href="{% url 'mixes:download_mix' mix.pk %}">Download</a>
            <a href="javascript:;" id="unpublishMixLink" class="unpublish-mix-link">Unpublish</a>
            <a href="javascript:;" id="publishMixLink" class="publish-mix-link">Publish</a>
            <a href="{% url 'home:home' %}" class="home-link">Home</a>
            <br class="clear unpublish-only">
        </header>
        
        <nav>
        </nav>
        
        <section id="audioPlayer">
            <div id="jquery_jplayer_1" class="jp-jplayer"></div>
            <div id="jquery_jplayer_2" class="jp-jplayer"></div>
            <div id="jp_container_1" class="jp-audio">
            <div class="jp-type-single">
              <div class="jp-gui jp-interface">
                <ul class="jp-controls">
                  <li><a href="javascript:;" class="jp-play" tabindex="1">play</a></li>
                  <li><a href="javascript:;" class="jp-pause" tabindex="1">pause</a></li>
                  <li><a href="javascript:;" class="jp-stop" tabindex="1">stop</a></li>
                  <li><a href="javascript:;" class="jp-mute" tabindex="1" title="mute">mute</a></li>
                  <li><a href="javascript:;" class="jp-unmute" tabindex="1" title="unmute">unmute</a></li>
                  <li><a href="javascript:;" class="jp-volume-max" tabindex="1" title="max volume">max volume</a></li>
                </ul>
                <div class="jp-progress">
                  <div class="jp-seek-bar">
                    <div class="jp-play-bar"></div>
                  </div>
                </div>
                <div class="jp-volume-bar">
                  <div class="jp-volume-bar-value"></div>
                </div>
                <div class="jp-time-holder">
                  <div class="jp-current-time"></div>
                </div>
              </div>
              <div class="jp-title"></div>
              <div class="jp-no-solution">
                <span>Update Required</span>
                To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
              </div>
            </div>
            </div>
            <div id="jp_container_2" class="jp-audio"></div>
        </section>
        
        <section id="mixList" class="mix-list">
            <ul id="songList" class="song-list"></ul>
        </section>
        
        <section id="addSongBlock" class="add-song-block">
        	<h1>Add songs</h1>
            <form id="uploadSongForm" action="{% url 'mixes:upload_song' mix.pk %}" enctype="multipart/form-data" method="POST">
                <div id="songUploader">There's a problem, this isn't going to work.</div>
            </form>
        </section>
    </div>
    
    
    <section id="publishMixBlock" class="publish-mix-block">
        
    </section>
    
    <section id="comments" class="comments-block">
        <div class="add-comment-block">
        	<textarea id="txtAddComment" rows="3" cols="40"></textarea>
            <button id="btnAddComment">Add</button>
        </div>
        <div id="commentsList" class="comments-list"></div>
    </section>
    
</div>

<section class="change-bg-block">
    <span class="title">Change background picture </span>
    <span class="instructions">Drag picture onto background,<br>or click "add"</span>
    
    <form id="uploadPictureForm" action="{% url 'mixes:upload_picture' mix.pk %}" enctype="multipart/form-data" method="POST">
        <div id="picUploader">There's a problem, this isn't going to work.</div>
    </form>
    <a id="removeBG" class="delete-link" href="javascript:;">remove current picture</a>
</section>

<footer>
</footer>

<section id="templates" style="display:none;">
	<ul>
    <li id="tmpSongItem" class="song-item">        
        <input id="chkFavourite" name="chkFavourite" class="favourite-checkbox" title="Favourite Track" type="checkbox" />
        <div class="song-wrapper">
            <span class="song-order"></span>
            <span class="song-title"></span><br><span class="song-artist"></span>
            <div class="total-favourite"></div>
        </div>
        <a class="song-delete" href="javascript:;">x</a>
    </li>
    </ul>
    
    <div id="tmpCommentItem" class="comment-item">
        <span class="text"></span>
    	<span class="username"></span> <time class="date"></time>
    </div>
    
   <iframe id="iUpload" name="iUpload" src="#" style="display:none;visibility:hidden;width:0;height:0;"></iframe> 

</section>
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function() {

        App.init({
            page: 'mix',
            id: {{ mix.id }}, 
            title: '{{ mix.title }}',
            username: '{{ mix.user.first_name }}',
            isUserMix: {% if is_user_mix %}true{% else %}false{% endif %}, 
            isPublished: {% if mix.is_published %}true{% else %}false{% endif %}, 
            pictureFile: '{% if mix.picture_file %}{{ mix.picture_file.url }}{% else %}{% endif %}',
            songs: [
                {% for mix_song in mix_songs.all %}
                    {% if not forloop.first %}, {% endif %}
                    { id: {{ mix_song.song.id }}, mixId: {{ mix_song.mix.id }}, artist: "{{ mix_song.song.artist }}", title: "{{ mix_song.song.title }}", songOrder: {{ mix_song.song_order }}, songFile: "{{ mix_song.song.song_file.url }}", isUserFav: {% if user in mix_song.favourites.all %}true{% else %}false{% endif %}, totalFav: {{ mix_song.favourites.all|length }} }  
                {% endfor %}
            ]
        });
    });

</script>

{% endblock %}