{% extends 'base.html' %}
{% block page_class %}mix-page{% endblock %}


{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

{% block content %}
<div id="back">
	<a href="{% url 'home' %}"><span style="font-size:50px;">&laquo;</span> <span style="line-height: 38px;margin-top: 5px;text-transform: uppercase;vertical-align: top;">home</span></a>
</div>

<div id="contentWrapper">
    <div id="mix">

        <header>
            <h1 id="mixTitle" class="mix-title"></h1>
            <span id="mixUsername"></span>
            <span id="mixDownload"><a class="mix-download-link" href="{{ 'download' }}">download</a></span>
        </header>
        
        <nav>
        </nav>
        
        <section id="scnAudioPlayer">
            <audio id="audioElement" src="" controls="controls">
                Your browser does not support the audio tag.
            </audio>
             <div id="currentTrackInfo">
    	        <span id="currentTitle"></span><br><span id="currentArtist"></span>
            </div>
        </section>
        
        <section id="mixList" class="mix-list">
            <ul id="songList" class="song-list"></ul>
        </section>
        
        <section id="addSongBlock" class="add-song-block">
        	<h1>Add songs</h1>
            <form id="uploadSongForm" action="{% url 'mixes:upload_song' mix.pk %}" enctype="multipart/form-data" method="POST">
                <div id="songUploader">There's a problem, this isn't going to work.</div>
            </form>
            <a href="#" id="resetSongUploadQueue">Reset queue</a>
        </section>
    </div>
    
    
    <section id="publishMixBlock" class="publish-mix-block">
        <a href="#" id="publishMixLink">Publish</a>
    </section>
    
    <section id="comments" class="comments">
    	<h1>Comment</h1>
        <div id="divAddComment">
        	<textarea id="txtAddComment" rows="3" cols="40"></textarea>
            <button id="btnAddComment">Add</button>
        </div>
        <div id="divCommentsList"></div>
    </section>
    
</div>


<section id="scnChangeBG">
    <h1>Change background picture</h1>
    <form id="uploadPictureForm" action="{% url 'mixes:upload_picture' mix.pk %}" enctype="multipart/form-data" method="POST">
        <div id="picUploader">There's a problem, this isn't going to work.</div>
    </form>
</section>

<footer>
</footer>

<section id="templates" style="display:none;">
	
    <li id="tmpSongItem" class="song-item">        
        <div class="favouriteWrapper"><input id="chkFavourite" name="chkFavourite" class="favourite" title="Favourite Track" type="checkbox" /></div>
        <span class="song-order"></span>
        <div class="song-wrapper"><span class="song-title"></span><br><span class="song-artist"></span></div>
        <span class="fav-count"></span>
        <a class="song-delete" href="#" onClick="return false;">x</a>
    </li>
    
    <article id="refCommentItem" class="commentItem">
    	<span class="commentUserName"></span> <time class="commentTime" datetime=""></time><br>
        <span class="commentText"></span>
    </article>
    
   <iframe id="iUpload" name="iUpload" src="#" style="display:none;visibility:hidden;width:0;height:0;"></iframe> 

</section>
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function() {

        App.init({
            id: {{ mix.id }}, 
            title: '{{ mix.title }}',
            username: '{{ user.first_name }}',
            isUserMix: {% if is_user_mix %}true{% else %}false{% endif %}, 
            isPublished: {% if mix.is_published %}true{% else %}false{% endif %}, 
            pictureFile: '{{ mix.picture_file }}',
            songs: [
                {% for mix_song in mix_songs.all %}
                    {% if not forloop.first %}, {% endif %}
                    {id: {{ mix_song.song.id }}, mixId: {{ mix_song.mix.id }}, artist: "{{ mix_song.song.artist }}", title: "{{ mix_song.song.title }}", songOrder: {{ mix_song.song_order }}, isUserFav: {% if user in mix_song.favourites %}true{% else %}false{% endif %}, totalFav: {{ mix_song.favourites.all|length }} }
                {% endfor %}
            ]
        });
    });

    

    {% for comment in mix.comment_set.all %}
       // mix.addComment("{{ comment.user.first_name }}", "{{ comment.date }}", "{{ comment.text|linebreaks }}");
    {% endfor %}


</script>

{% endblock %}